/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,900;1,700&family=Titillium+Web:ital,wght@0,200;0,300;1,200;1,600&display=swap');
/* poppins font */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
.nav-header{
    color: aqua;
}