@media only screen and (max-width:480px) 
{
    
    .nav-heading{
      margin-left: 150px;
    }
    .nav-bar{
      flex-wrap: nowrap;
      flex-direction: column;

    }
    .menu-ul, .menu-icon i{
      flex-wrap: nowrap;
      margin-left: 15px;
  }
    .menu-icon{
      display: flex;
      float: right;
      margin-left: 350px;
      position: absolute;
    }
    .menu-icon i{
      padding: 0 10px;
    }
    

};
